.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.reddit-item {
  background-color: lightseagreen;
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding: 1%;
  margin-bottom: 1%;
  width: 700px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 3%;
  padding: 1%;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  margin: 2%;
  padding: 1%;
  background-color: orangered;

  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

h2 {
  font-size: 25px;
  margin: 2%;
  padding: 1%;
  background-color: lightseagreen;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.subredditpage {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: black;
  margin: 1%;
  padding: 1%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.subreddititempage {
  background-color: lightseagreen;
  border-color: orangered;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  padding: 1%;
  margin-bottom: 1%;
  width: 700px;
  height: 500px;
}


body{
  background-color: black;
}