.reddit-item {
    background-color: lightseagreen;
    border-color: orangered;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    padding: 1%;
    margin-bottom: 1%;
    width: 700px;
}

h1 {
    font-size: 40px;
    margin: 2%;
    padding: 1%;
    background-color: orangered;

    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

h2 {
    font-size: 25px;
    margin: 2%;
    padding: 1%;
    background-color: lightseagreen;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}